<div class="d-flex column-gap-3">
  <h2>Event Details</h2>

  <button
    class="btn btn-light"
    hx-post="/usr_event"
    hx-swap="none"
    type="button"
    name="event_id"
    value="{{.Event.ID}}"
  >
    Participate
  </button>
</div>

<h5>
  ID:
  <small class="text-body-secondary" id="eventId">{{.Event.ID}}</small>
</h5>
<h5>
  UsrID:
  <small class="text-body-secondary">{{.Event.UsrID}}</small>
</h5>
<h5>
  StartTime:
  <small class="text-body-secondary">{{.Event.StartTime}}</small>
</h5>
<h5>
  EndTime:
  <small class="text-body-secondary">{{.Event.EndTime}}</small>
</h5>
<h5>
  Goal:
  <small class="text-body-secondary">{{.Event.Goal}}</small>
</h5>
<h5>
  Condition:
  <small class="text-body-secondary">{{.Event.Condition}}</small>
</h5>
<h5>
  StatusID:
  <small class="text-body-secondary">{{.Event.StatusID}}</small>
</h5>

<h3>Participating users</h3>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Group</th>
      <th>StatusID</th>
      <th>TypeID</th>
      <th>Score</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    {{range .Usrs}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Name}}</td>
      <td>{{.Username}}</td>
      <td>{{.Group}}</td>
      <td>{{.StatusID}}</td>
      <td>{{.TypeID}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
