<div class="d-flex column-gap-3">
  <h2>Event Details</h2>
  {{if .Data.IsParticipating}}
  <button class="btn btn-success" disabled type="button">
    Already participating
  </button>
  {{else}}
  <button
    class="btn btn-light"
    hx-post="/usr_event"
    hx-swap="none"
    type="button"
    name="event_id"
    value="{{.Data.Event.ID}}"
  >
    Participate
  </button>
  {{end}}
</div>

<h5>
  ID:
  <small class="text-body-secondary" id="eventId">{{.Data.Event.ID}}</small>
</h5>
<h5>
  UsrID:
  <small class="text-body-secondary">{{.Data.Event.UsrID}}</small>
</h5>
<h5>
  StartTime:
  <small class="text-body-secondary">{{.Data.Event.StartTime}}</small>
</h5>
<h5>
  EndTime:
  <small class="text-body-secondary">{{.Data.Event.EndTime}}</small>
</h5>
<h5>
  Goal:
  <small class="text-body-secondary">{{.Data.Event.Goal}}</small>
</h5>
<h5>
  Condition:
  <small class="text-body-secondary">{{.Data.Event.Condition}}</small>
</h5>
<h5>
  StatusID:
  <small class="text-body-secondary">{{.Data.Event.StatusID}}</small>
</h5>
<h5>
  Usr:
  <small class="text-body-secondary">{{.Data.Event.Usr}}</small>
</h5>

<h3>Participating users</h3>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Group</th>
      <th>StatusID</th>
      <th>TypeID</th>
      <th>Score before</th>
      <th>Score now</th>
    </tr>
  </thead>
  <tbody>
    {{range .Data.Usrs}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Name}}</td>
      <td>{{.Username}}</td>
      <td>{{.Group}}</td>
      <td>{{.StatusID}}</td>
      <td>{{.TypeID}}</td>
      <td>{{.Score.Footprint.Total}}</td>
      <td>{{.Score.Current.Total}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
