<h2>User Statistics</h2>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th>From</th>
      <th>Easy</th>
      <th>Medium</th>
      <th>Hard</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {{range .Results}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Username}}</td>
      {{ if .Group}}
      <td>{{.Group}}</td>
      {{else}}
      <td></td>
      {{end}}
      <td>{{.Score.Current.Easy}}</td>
      <td>{{.Score.Current.Medium}}</td>
      <td>{{.Score.Current.Hard}}</td>
      <td>{{.Score.Current.Total}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
